[submodule "external/catacombaeframework"]
	path = external/catacombaeframework
	url = ../catacombaeframework.git
[submodule "external/dmgextractor"]
	path = external/dmgextractor
	url = ../dmgextractor.git
